fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
python-dotenv
alembic
python-multipart
onnxruntime
numpy
pandas
xgboost
python-jose[cryptography]
passlib[bcrypt]
apscheduler
fastapi-mail
pytesseract
scikit-learn
